body{
background-color: white;
}

.characters {
  display: grid;
  grid-gap: 10px;
  padding:10px;
  grid-template-columns: auto;
  grid-template-areas:
    "finn"
    "jack"
    "bubblegum"
    "bmo"
    "lumpy"
    "marceline"
    ;
  }

div > div
{
  border-radius: 30px;
  padding:10px;
}

div>div:hover
{
    animation: masuperanimation 4s;
}

.finn { 
  background-color:#FFFFFF;
  border:5px solid #00ADE3;
  grid-area: "a";
  
}
.jack {
  background-color:#FCB823;
  grid-area: "b";
}

.bubblegum {
  background-color:#E7CEE3;
  border:5px solid #F299BF;
  grid-area: "c";
 
}

.bmo {
  background-color:#BAE0CD;
  border:5px solid #23B1A5;
  grid-area: "d";
  border-radius: 20px;
}

.lumpy {
  background-color: #FFDF74;
  border:5px solid #BB9DC8;
  grid-area: "e";

}

.marceline {
  background-color: #EEF1F3;
  border:5px solid #020306;
  grid-area: "f";
}




@media screen and (min-width: 640px)
{
  
    .characters{
     
      grid-template-columns: repeat(2,1fr);
      grid-template-areas: "a b"
                           "c d"
                           "e f";

      background-color: #e6e6e6;
                           
    }
}



@media screen and (min-width: 768px)
{
  
  .characters{
     
      grid-template-columns: repeat(3,1fr);
      grid-template-areas: "a b c"
                           "d e f";

      background-color: #e6e6e6;
                           
    }
}


@media screen and (min-width: 1024px)
{
  
  .characters{
  
      grid-template-columns: repeat(4,1fr);
      grid-template-areas: "a b c d"
                           "e e f f";

      background-color: #cccccc;

                           
    }
}

@media screen and (min-width: 1280px)
{
  
  .characters{
    
      grid-template-columns: repeat(5,1fr);
      grid-template-areas: "a b c d e"
                           "f f f f f";

      background-color: #979797;
                           

                           
    }
}


@keyframes masuperanimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(150px) rotate(2deg);
    }
}


img {
  display:inline-block;
  }
